$primary-text-color: #757575;
$accent-color: #2196F3;
$primery-white-color: #FFFFFF;
$secondary-text-color: #212121;
$black-color: #000000;
$secondary-bgc:#2F303A;
$svg-icon:#AFB1B8;
$transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);

